.recent-activity{
    margin-top:40px;
}

.recent-activity h2{
    margin-bottom:20px;
}

.activity-item{
    display:flex;
    align-items:center;
    gap:18px;
    background:#1e293b;
    border:1px solid rgba(255,255,255,.08);
    border-radius:14px;
    padding:18px;
    margin-bottom:15px;
    transition:.3s;
}

.activity-item:hover{
    border-color:#38bdf8;
}

.activity-item span{
    font-size:28px;
}

.activity-item h4{
    margin-bottom:5px;
}

.activity-item p{
    color:#94a3b8;
    font-size:14px;
}